
<div id="my-comments">
  <% comments.each do |comment| %>
    <%= render(partial: 'comments/comment', object: comment) %>
  <% end %>
</div>

<% if comments.next_page %>
  <div id="with-button" align="center">
    <%= will_paginate comments %>
  </div>

  <div id="load_more_comments" class="btn btn-purple">Load comments</div>
<% end %>
