<%= render 'shared/page_title', title: 'create a new article' %>

<%= render 'shared/errors', object: @article %>

<%= render 'form', object: @article %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Return to articles listing", articles_path, class: "btn btn-purple" %>
  </div>
</div>
