<div id="my-articles">
  <% user_articles.each do |user_article| %>
    <%= render(partial: 'users/user_article', object: user_article) %>
  <% end %>
</div>

<% if user_articles.next_page %>
  <div id="with-button-article" align="center">
    <%= will_paginate user_articles %>
  </div>

  <div id="load_more_articles" class="btn btn-purple btn-article-more">Load articles</div>
<% end %>
