<%= render 'shared/forms_title', title: 'Edit your account', subtitle: 'Is everything okay?' %>

<%= render 'shared/errors', object: @user %>

<%= render 'form', object: @user %>

<div class="row">
  <div class="col-md-offset-8 col-md-4">
    
  </div>
</div>
