<%= render 'shared/page_title', title: 'Sign up for the Application' %>

<%= render 'shared/errors', object: @user %>

<%= render 'form', object: @user %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Return to home", pages_home_path, class: "btn btn-purple" %>
  </div>
</div>
