<% if object.errors.any? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <div class="panel-body">
            <ul>
              <a href="#" class="close">&#215</a>
              <% object.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
$(".panel a").click(function() {
    $(".panel").hide()
    return false;
});
</script>
​
