<header class="general-page-title">
  <div class="container">
    <div class="center col-md-8 col-md-offset-2">
      <h1><%= page_title %></h1>
      <hr />
      <div class="col-md-12 center">
        <%= image_tag("outer-space.jpg", class:"outer-space-property")%>
      </div>
      <%= image_tag("down-chevron.gif", class:"center down-chevron-gif")%>
    </div>

  </div>
</header>
