<% @user ||= current_user %>

  <div class="col-sm-12">
    <div class="stats">
      <div class="col-sm-6">
        <%= link_to 'Following', following_user_path(@user) %>
      </div>
      <div class="col-sm-6 followers-border">
        <%= link_to 'Followers', followers_user_path(@user) %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="stats">
      <div class="col-sm-6">
        <%= @user.following.count %>
      </div>
      <div class="col-sm-6 followers-border">
        <%= @user.followers.count %>
      </div>
    </div>
  </div>
