<% @user ||= current_user %>

  <div class="col-sm-12 col-md-12 col-xs-12">
    <div class="stats">
      <div class="col-sm-6 col-md-6 col-xs-6">
        <%= link_to 'Following', following_user_path(@user) %>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-6 followers-border">
        <%= link_to 'Followers', followers_user_path(@user) %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-xs-12">
    <div class="stats">
      <div class="col-sm-6 col-md-6 col-xs-6">
        <%= link_to @user.following.count, following_user_path(@user) %>
      </div>
      <div class="col-sm-6 col-md-6 col-xs-6 followers-border">
        <%= link_to @user.followers.count, followers_user_path(@user) %>
      </div>
    </div>
  </div>
