<% @user ||= current_user %>

  <div class="col-sm-12">
    <div class="stats">
      <div class="col-sm-6">
        Following
      </div>
      <div class="col-sm-6 followers-border">
        Followers
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="stats">
      <div class="col-sm-6">
        <%= link_to (@user.following.count), following_user_path(@user) %>
      </div>
      <div class="col-sm-6 followers-border">
        <%= link_to (@user.followers.count), followers_user_path(@user) %>
      </div>
    </div>
  </div>
