
<title>The page you were looking for doesn't exist (404)</title>
<div class="black-bg-mobile-minor">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="dialog center">
          <div>
            <h1><%= t(:page_not_found) %></h1>
            <p><%= t(:mystiped_address) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
