.description {
  margin-top: 0;
}

.well {
  a {
    color: #390046;
    &:hover {
      text-decoration: none;
      text-shadow: 0.2px 0.2px 0.2px gray;
    }
  }
}

.separator {
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
    text-shadow: 0.05px 0.05px 0.05px #390046;
  }
}
