.description {
  margin-top: 0;
}

.well {
  a {
    color: #390046;
    &:hover {
      color: #390046;
      text-decoration: none;
      text-shadow: 0.1px 0.1px 0.1px #390046;
    }
  }
  .btn {
    color: #fff;
  }
}

.well-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  padding-top: 15px;
  /* Set the fixed height of the footer here */
  height: 70px;
}

.separator {
  margin-top: 0.2cm;
  margin-bottom: 0.1cm;
}

.comment-remover-button {
  color: gray;
  &:hover {
    color: red;
  }
}
