
#img-logo {
  border-radius: 50%;
  height: 32px;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.jumbotron {
  background-image: asset-url('bg-home.jpg');
  background-size: cover;
  height: 300px;
  h1, h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}
