
#img-logo {
  height: 36px;
}

.home-show-position {
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-cover-ratio {
  max-width: 100%;
  height: auto;
}

.bg-header-home {
  background-color: #fff;
  background-image: asset-url('home-cover.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  color: #000;
  font-weight: bold;
  .language {
    a {
      font-family: 'Work Sans', sans-serif;
      font-size: 18.2px;
      font-weight: 300;
      font-style: normal;
      letter-spacing:-0.364px;
      color: gray;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.game-icon-show-home {
  height: 150px;
  width: auto;
}

.blog-icon-show-home {
  height: 100px;
  width: auto;
}

.blog-icon-home-proprety {
  margin-top: 20px;
}

.blog-name-home {
  a {
    color: #fff;
    font-family: 'Concert One', cursive;
    text-transform: uppercase;
    font-size: 80px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.blog-description-home {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-size: 18.2px;
  font-weight: 300;
  font-style: normal;
  letter-spacing:-0.364px;
  line-height: 23.66px;
  text-align: justify;
}

.text-gray {
  letter-spacing: .15em;
  font-size: 15px;
  color: gray;
}

.text-black {
  font-size: 3rem;
}

.title-black {
  font-size: 4rem;
  margin-top: -8px;
  font-family: "IM Fell Great Primer", sans-serif;
}

.text-icons {
  font-size: 1.5rem;
  font-weight: bold;
}

.purple-bg {
  background-color: rgb(38, 47, 54);
  color: #fff;
  padding-bottom: 35px;
  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18.2px;
    font-weight: 300;
    font-style: normal;
    letter-spacing:-0.364px;
    line-height: 23.66px;
    a {
      color: gray;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.exp-show-home {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

.icons-show-home {
  height: 200px;
  width: auto;
}

.home-title {
  font-family: "IM Fell Great Primer", sans-serif;
  margin-top: -10px;
}

.home-title-black {
  font-size: 3.4rem;
  letter-spacing: .04em;
  font-weight: bolder;
  margin-top: -8px;
  font-family: "IM Fell Great Primer script=all rev=1";
}

.line-title {
  margin-top: -20px;
}

.pre-home-title {
  margin-top: 15px;
  letter-spacing: .12em;
  font-family: "IM Fell Great Primer script=all rev=1";
  font-weight: bold;
}

.pos-title {
  font-family: "IM Fell Great Primer script=all rev=1";
  margin-top: -10px;
  margin-bottom: 60px;
  letter-spacing: .05em;
}

.blog-home-bg {
  background: #390046;
}

.logo-show-home {
  max-height: 130px;;
  width: auto;
  margin-top: 120px;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.custom-nav {
  background-color: #390046;
  height: 42px;
  .link-nav-responsive {
    display: inline-block;
    font-size: 15px;
    a {
      color: #fff;
      text-shadow: -1px 0 rgba(0, 0, 0, 0.125), 0 1px rgba(0, 0, 0, 0.125), 1px 0 rgba(0, 0, 0, 0.125), 0 -1px rgba(0, 0, 0, 0.125);
      &:hover {
        color: #F0F8FF;
        text-decoration: none;
      }
    }
  }
  .gravatar-nav {
    display: inline-block;
  }
  .btn-nav-responsive {
      display: inline-block;
      padding-top: 3px;
    .btn-nav {
      color: #fff;
      text-shadow: -1px 0 rgba(0, 0, 0, 0.125), 0 1px rgba(0, 0, 0, 0.125), 1px 0 rgba(0, 0, 0, 0.125), 0 -1px rgba(0, 0, 0, 0.125);
      &:hover {
        color: #F0F8FF;
        text-decoration: none;
      }
    }
  }
}

.jumbotron {
  background-image: asset-url('bg-home.jpg');
  background-size: cover;
  height: 300px;
  h1, h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.article-home-ajust {
  margin-left: 15px;
  a {
    color: #390046;
    font-size: 17px;
    font-weight: lighter;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.article-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 5px;
  padding-left: -15px;
  background-color: white;
}

.article-home-description {
  margin: 5px;
}

.article-home-description-proprety {
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    color: #390046;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.article-home-proprety {
  padding: 5px;
}

.inline-home {
  display: inline-block;
  .btn-purple {
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .btn-following {
    margin-left: 10px;
    margin-bottom: 15px;
  }
  a {
    color: black;
    font-size: 17px;
    font-weight: lighter;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.articler-container {
  margin-top: 15px;
}

.article-home-cover {
  padding-bottom: 5px;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.right {
  float: right !important;
}

.home-user-name {
  a {
    color: black;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

.home-cover {
  width: 100%;
  position: relative;
  display: inline-block;
}

.home-content {
  top: 50%;
  margin-top: -60px;
  text-align: center !important;
}

.cover-home-ratio {
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.home-stats {
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 280px;
  max-width: 100%;
}

.commenter-home-proprety {
  width: 100%;
  padding: 0;
  margin: 0;
}

.comment-home-proprety {
  margin-top: -5px;
  margin-bottom: -15px;
}

.comment-home-proprety-content {
  margin-top: -10px;
}

.row .input-group {
  .input-group-addon-feed {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: none;
  }
  .comment-home-form {
    height: 30px;
  }
  .diary-form {
    height: 52px;
    margin-top: 5px;
  }
  .input-group-addon-home {
    background-color: #f5f8fa;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 28px;
    border: none;
    margin-top: 5px;
  }

}
