
#logo {
  float: left;
  size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    text-shadow: 0.1px 0.1px 0.1px #fff;
  }
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('bg-home.jpg');
  background-size: cover;
  height: 300px;
  h1, h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.btn-purple {
  color: #fff;
  background-color: #390046;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
