// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-name {
  margin-top: -50px;
  a {
    color: black;
    font-family: 'Concert One', cursive;
    text-transform: uppercase;
    font-size: 80px;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.mail-form {
  width: 100%;
  margin-bottom: 5px;
}

.img-blog-cover-ratio {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.post-index {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  a {
    color: #390046;
    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
  p {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.comment-disqus {
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.featured-name {
  color: black;
  font-family: 'Concert One', cursive;
  text-transform: uppercase;
  font-size: 30px;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.post-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  text-align: justify;
  padding: 5px;
}
