$navbar-default-bg: #390046;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-color: darken($navbar-default-link-hover-color, 10%);
$navbar-default-link-hover-bg:  darken($navbar-default-bg, 1.0%);
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: darken($navbar-default-bg, 1.0%);
$navbar-height: 40px;
$navbar-padding-vertical: 4px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  min-height: 100%;
  background-color: #f5f8fa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
  p {
    text-align: center;
  }
  a {
    color: gray;
    &:hover {
      color: darkgray;
      text-decoration: none;
    }
  }
}

.navbar-default {
  font-size: 15px;
  .navbar-nav .link-bar {
    padding-top: 10px;
  }
  .btn-purple {
    outline: 0.5px solid #fff;
  }
  li {
    margin-bottom: -10px;
  }
}

.font-icon-nav {
  font-size: 30px;
}

.font-icon-dropdown {
  font-size: 20px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  align-items: center;     /* Align the flex-items vertically */
}

.form-inline {
  display: flex;
  width: auto
}

.nav-margin-logged {
  margin-bottom: 50px;
}

.nav-margin-login {
  margin-bottom: 105px;
}

.btn-view-all-comments {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.comments-feed-proprety {
  width: 100%;
  padding: 0;
}
