// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-following {
  background-color: #fff;
  color: #390046;
  border: 1px solid #390046;
  &:hover {
    background-color: #390046;
    color: #fff;
  }
}

.btn-purple {
  color: #fff;
  background-color: #390046;
  &:hover {
    color: #390046;
    background-color: #fff;
    border: 1px solid #390046;
  }
}
