.article-show-footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.profile-cover {
  object-fit: cover;
  width: 100%;
  height: 370px;
  position: relative;
  display: inline-block;
  border: 0.5px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

//100% screen md
@media only screen and (min-width: 1500px) {
  .forgot-account {
    padding-top: 52px;
    padding-right: 150px;
  }
  .form-login {
    padding-top: 45px;
    padding-bottom: 20px;
  }
  #logo {
    float: left;
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  #img-logo {
    margin-left: -30px;
  }
  .home-stats {
    margin-left: -13px;
    padding: 5px;
  }
  .navbar-responsive-right {
    padding-left: 108px
  }
  .search-btn {
    margin-left: -25px;
  }
}

//#110screen md
@media only screen and (max-width: 1499px) and (min-width: 1200px) {
  .home-feed {
    margin-left: -15px;
  }
  .fix-position {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
  }
  .fix-position-top {
    top: 50px;
    bottom: auto;
  }
  .fix-position-blog {
    top: 80px;
    bottom: auto;
  }
  .home-stats {
    padding-top: 5px;
    margin-left: -12px;
    padding-bottom: 5px;
  }
  .form-login {
    padding-top: 45px;
    padding-bottom: 20px;
  }
  .form-login-proprety {
    margin-left: -100px;
  }
  #img-logo {
    margin-left: -70px;
  }
  .navbar-responsive-right {
    padding-left: 90px
  }
  .search-forms {
    margin-left: -30px;
  }
  .search-btn {
    margin-left: -25px;
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .search-forms{margin-left: 0;}
      .search-btn{margin-top: 2px;height: 33.5px;}
  }
}
//120% screen md
@media only screen and (max-width: 1399px) and (min-width: 1300px) {
  #img-logo {
    margin-left: -115px;
  }
  .search-forms {
    margin-left: -70px;
  }
  .search-btn {
    margin-left: -25px;
    height: 34px;
  }
}
//130% screen md
@media only screen and (max-width: 1299px) and (min-width: 1200px) {
  .form-login-proprety {
    margin-left: -35px
  }
  .forgot-account {
    margin-top: -10px;
  }
  #img-logo {
    margin-left: -150px;
  }
  .search-forms {
    margin-left: -110px;
  }
  .search-btn {
    margin-left: -25px;
    height: 34px;
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .search-forms{margin-left: 0;}
      .search-btn{margin-top: 4px;height: 34px;}
      #img-logo{margin-left: -135px;}
  }
}
//140%-160% screen md
@media only screen and (max-width: 1199px) and (min-width: 1000px) {
  .form-login-proprety {
    padding-top: 30px;
    margin-left: 70px;
    padding-bottom: 10px;
  }
  #logo {
    margin-left: -170px;
    padding-bottom: 10px;
  }
  .forgot-account {
    margin-top: -26px;
    padding-bottom: 10px;
  }
  .home-stats {
    margin-left: -35px;
  }
  .profile-stats {
    margin-left: 550px;
    min-width: 300px;
    max-width: 100%;
  }
  #img-logo {
    margin-left: -105px;
  }
  .navbar-responsive-right {
    padding-left: 5px
  }
  .search-forms {
    margin-left: -70px;
  }
  .search-btn {
    margin-left: -25px;
    height: 34px;
  }
  .profile-cover {
    height: 400px;
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .search-forms{margin-left: 0;}
      .search-btn{margin-top: 2.5px;height: 34px;}
  }
}
//140% screen md
@media only screen and (max-width: 1199px) and (min-width: 1100px) {
  #img-logo {
    margin-left: -80px;
  }
  .search-forms {
    margin-left: -50px;
  }
}
//160% screen md
@media only screen and (max-width: 1050px) and (min-width: 1000px) {
  #img-logo {
    margin-left: -125px;
  }
  .search-forms {
    margin-left: -85px;
  }
}

//170% screen md
@media only screen and (max-width: 999px) and (min-width: 900px) {
  #img-logo {
    margin-left: 115px;
  }
  .navbar-responsive-right {
    padding-left: 55px
  }
  .profile-stats {
    margin-left: 380px;
    min-width: 280px;
    max-width: 100%;
  }
  .profile-cover {
    height: 300px;
  }
}

//180% screen md
@media only screen and (max-width: 899px) and (min-width: 865px) {
  #img-logo {
    margin-left: 90px;
  }
  .navbar-responsive-right {
    padding-left: 55px
  }
  .profile-stats {
    margin-left: 380px;
    min-width: 280px;
    max-width: 100%;
  }
  .profile-cover {
    height: 300px;
  }
}

//190% screen md
@media only screen and (max-width: 864px) and (min-width: 850px) {
  #img-logo {
    margin-left: 75px;
  }
  .navbar-responsive-right {
    padding-left: 55px
  }
  .profile-stats {
    margin-left: 380px;
    min-width: 280px;
    max-width: 100%;
  }
  .profile-cover {
    height: 300px;
  }
}

//200% screen md
@media only screen and (max-width: 849px) and (min-width: 800px) {
  #img-logo {
    margin-left: 50px;
  }
  .navbar-responsive-right {
    padding-left: 55px
  }
  .profile-stats {
    margin-left: 380px;
    min-width: 280px;
    max-width: 100%;
  }
  .profile-cover {
    height: 300px;
  }
}

//210% screen md
@media only screen and (max-width: 799px) and (min-width: 750px) {
  #img-logo {
    margin-left: 35px;
  }
  .navbar-responsive-right {
    padding-left: 55px
  }
  .profile-stats {
    margin-left: 380px;
    min-width: 280px;
    max-width: 100%;
  }
  .profile-cover {
    height: 300px;
  }
}

//220% screen md
@media only screen and (max-width: 749px) and (min-width: 725px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 278px
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
  }
  .btn-float {
    margin-left: 560px;
    margin-top: -85px;
  }
  .profile-cover {
    height: 350px;
  }
}

//230% screen md
@media only screen and (max-width: 724px) and (min-width: 700px) {
  #img-logo {
    margin-left: 50px;
  }
  .navbar-responsive-right {
    padding-left: 278px
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 540px;
    margin-top: -85px;
  }
  .profile-cover {
    height: 350px;
  }
}

//240% screen md
@media only screen and (max-width: 699px) and (min-width: 650px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 235px
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 530px;
    margin-top: -85px;
  }
  .profile-cover {
    height: 350px;
  }
}

//250% screen md
@media only screen and (max-width: 649px) and (min-width: 625px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 212px
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .navbar-responsive-right{padding-left: 209px;}
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 505px;
    margin-top: -85px;
  }
  .profile-cover {
    height: 350px;
  }
}

//260% screen md
@media only screen and (max-width: 624px) and (min-width: 600px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 190px
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .navbar-responsive-right{padding-left: 185px;}
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 480px;
    margin-top: -85px;
  }
}

//270% screen md
@media only screen and (max-width: 599px) and (min-width: 575px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 167px
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .navbar-responsive-right{padding-left: 162px;}
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 450px;
    margin-top: -85px;
  }
}

//280%-290% screen md
@media only screen and (max-width: 574px) and (min-width: 550px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 145px
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .navbar-responsive-right{padding-left: 140px;}
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 420px;
    margin-top: -85px;
  }
}

//300% screen md
@media only screen and (max-width: 549px) and (min-width: 500px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 123px
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .navbar-responsive-right{padding-left: 120px;}
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 390px;
    margin-top: -85px;
  }
}

//400% screen md
@media only screen and (max-width: 500px) and (min-width: 400px) {
  #img-logo {
    margin-left: 20px;
  }
  .navbar-responsive-right {
    padding-left: 85px
  }
  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .navbar-responsive-right{padding-left: 84px;}
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 260px;
    margin-top: -90px;
  }
}

//500% screen md
@media only screen and (max-width: 399px) {
  #img-logo {
    margin-left: 5px;
  }
  .navbar-responsive-right {
    padding-left: 15px
  }

  //chrome css
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
      .navbar-responsive-right{padding-left: 15px;}
      .profile-content {
        top:50%;
        margin-top: -200px;
      }
  }
  .profile-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
  .btn-float {
    margin-left: 185px;
    margin-top: -90px;
  }
}



@media only screen and (max-width: 1000px) {
  .custom-nav {
    .mobile-off {
      display: none;
    }
    .navbar-responsive-right {
      margin-right: 15px;
    }
  }
  .btn-nav-responsive {
    padding-left: 15px;
  }
  .gravatar-nav {
    padding-left: 15px;
  }
  .form-login-proprety {
    display: none;
  }
  .forgot-account {
    display: none;
  }
  #logo {
    margin-left: -15px;
    font-size: 80px;
  }
  .home-topics {
    h4 {
      margin-left: -10px;
      font-size: 20px;
      padding-top: 0;
    }
  }
  .img-ratio {
    object-fit: cover;
    width: 100%;
    height: 160px;
  }
  .profile-content {
    top:70%;
    margin-top: -330px;
  }
}

@media only screen and (max-width: 500px) {
  .home-topics {
    h4 {
      margin-left: 0px;
      font-size: 15px;
      margin-top: 5px;
    }
  }
  #logo {
    margin-left: -28px;
    font-size: 60px;
  }
  .btn-nav-responsive {
    padding-left: 5px;
  }
  .gravatar-nav {
    padding-left: 5px;
    padding-right: 0;
  }
  .custom-nav {
    .navbar-responsive-right {
      margin-right: 15px;
    }
  }
  .img-ratio {
    object-fit: cover;
    width: 100%;
    height: 120px;
  }
  .profile-content {
    top:50%;
    margin-top: -300px;
  }
  .profile-stats {
    margin-left: 0px;
    min-width: 280px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1450px) {

}
@media only screen and (max-width: 1449px) and (min-width: 1000px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1001px) {
  .fix-position {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
  }
  .fix-position-top {
    top: 50px;
    bottom: auto;
  }
  .fix-position-blog {
    top: 80px;
    bottom: auto;
  }
  .login-button {
    display: none;
  }
  #logo {
    font-size: 80px;
  }
  .home-topics {
    margin-top: 20px;
    h4 {
      margin-left: -20px;
      font-size: 30px;
    }
  }
  .btn-nav-responsive {
    padding-left: 15px;
  }
  .gravatar-nav {
    padding-left: 15px;
  }
  .profile-content {
    top:70%;
    margin-top: -130px;
    position: absolute;
    display:block;
  }
}
