#logo {
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-family: Impact;
  padding-top: 50px;
  padding-bottom: 20px;
  &:hover {
    text-decoration: none;
  }
}

#img-logo-login {
  height: 60px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.forgot-account {
  padding-top: 52px;
  padding-right: 150px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-login {
  color: #fff;
  background-color: #390046;
  outline: 1px solid #fff;
  &:hover {
    color: #390046;
    background-color: #fff;
  }
}

.login-button {
  padding-right: 20px;
  padding-top: 17px;
}
