#logo {
  float: left;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;

  font-family: Impact;
  padding-top: 50px;
  padding-bottom: 20px;
  &:hover {
    text-decoration: none;
  }
}


.form-login {
  padding-top: 45px;
  padding-bottom: 20px;
}

.forgot-account {
  padding-top: 52px;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}
