<footer class="blog-footer">
  <div class="container">
    <p><%= link_to "English", locale: :en %> •
    <%= link_to "Português", locale: :pt %></p>
    <p class="text-muted">Gamarch • 2017 • <%= t(:rights_reserved) %></p>
  </div>
</footer>
