
  <nav class="navbar navbar-default navbar-fixed-top col-md-12 col-sm-12 col-xs-12">
    <div class="row col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
      <div class="navbar-header">
        <%= link_to 'Gamarch', root_path, class: "navbar-brand", id: 'logo' %>
      </div>
    </div>
  </nav>
